<p><strong> Replying to: </strong> <%= @conversation.subject %>  </p>

<%= form_for :message, url: reply_conversation_path(@conversation) do |f| %>
    <%= f.text_area :body, :style => "width:510px; height: 300px  " %>
    <br>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                conversation_path(@conversation), :class => 'btn btn-info' %>
    <%= submit_tag 'Clear Reply Box', type: :reset, class: 'btn btn-danger' %>
    <%= f.submit "Send Message", class: 'btn btn-primary' %>

<% end %>