<h1>Inbox</h1>
<table class="table table-responsive table-striped">
  <tbody>
  <% @conversations.each do |conversation| %>
  <tr>

    <td>
      <div style="margin-left: 5px" class="round-image-50">
        <%= image_tag(conversation.originator.logo.url(:small) ) %>
      </div>
      <%= link_to conversation.originator.name, user_path(conversation.originator) %></td>

        <td><% if conversation.is_unread?(current_user) %>
              <div class="col-lg-12 input-group">
                <span class="glyphicon glyphicon-envelope" style="font-size: 30px"></span>

                </div>
              <% end %>

        </td>
          <td><%= link_to conversation.subject, conversation_path(conversation) %></td>
          <!--<%= link_to conversation.messages %>-->

          <td><%= conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p") %></td>

          <td><%= link_to "Reply", {:controller => "messages", :action => "reply", :id => conversation.id}, :title => "Reply" %></td>

          <td> <%= link_to "Move to Trash", {:controller => "conversations", :action => "trash", :id => conversation.id}, :title => "Move to Trash", :method => 'post' %>

          </td>

        </tr>
          </tbody>

    <% end %>

  <td><%= link_to "Sent Messages", {:controller => "conversations", :action => "sentbox"}, :title => "Reply" %></td>

  </table>