<h3><%= @user.name %></h3>
<p>Email: <%= @user.email if @user.email %></p>

<div class="form-group">



<div class="col-xs-3 well">
  <%= render partial: 'avatars/form',
             object: @user,
             as: :avatarable %>
</div>
</div>
<br>
<br>

<div class="col-xs-6"></div>



<%- model_class = Profile -%>
<div class="page-header">
  <div id="">
  </div>
  <br>


  <div id="worked">

    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>  <br>
    <br>  <br>
    <br>  <br>
    <br>
  </div>
  <div class="contain">
    <h5>My Offers - <%= @offers.count %></h5>

    <!--<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>-->

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
      </tr>
      </thead>
      <tbody>
      <% @offers.each do |offer| %>
          <tr>


            <td><%= link_to offer.title, offer_path(offer) %></td>
            <td><%= offer.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_offer_path(offer), :class => 'btn btn-info' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          offer_path(offer),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn' %>

            </td>
          </tr>

      <% end %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_offer_path,
                  :class => 'btn-success btn' %>

      </tbody>
    </table>

  </div>
  </div>


  <div class="contain">
    <h5>My Requests - <%= @requests.count %></h5>
    <!--<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>-->

    <table class="table table-striped">
      <thead>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_request_path,
                  :class => 'btn-success btn' %>

      <tr>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
      </tr>

      </thead>
      <tbody>
      <% @requests.each do |request| %>
          <tr>

            <td><%= link_to request.title, request_path(request) %></td>
            <td><%= request.created_at %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_request_path(request), :class => 'btn btn-info' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          request_path(request),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>

