<%- model_class = Request -%>
<div class="page-header">
  <h4><strong>I need help with: </strong>

    <div style="word-wrap: break-word; width: 80%"><%= @request.title %></h4>
</div>
<h6><%= @request.category %> Favors</h6>


<div style="margin-left: 5px" class="round-image-50">
  <%= image_tag(@request.user.logo.url(:small)) %>
</div>
<%= link_to @request.user.name %>

<br>


<div style="word-wrap: break-word; width: 80%; font-size: 20px"><%= @request.description %> </div>

<br>


<br>

<% if @request.give.blank? %>

<% else %>
    <h4><strong> In return, I will: </strong></h4>
    <div style="word-wrap: break-word; width: 80%; font-size: 20px"><%= @request.give %> </div>
    <br>
<% end %>


<div class="form-actions" id="reply">
  <% if @request.user != current_user %>
      <% if user_signed_in? %>
          <%= link_to "Reply",
                      newrequest_message_path(:request => @request.id), :class => 'btn' %>
      <% end %>

  <% else %>
      <%= link_to "Reply",
                  new_user_session_path, :class => 'btn' %>
  <% end %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              requests_path, :class => 'btn btn-info' %>
  <% if @request.user == current_user %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_request_path(@request), :class => 'btn btn-inverse' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  request_path(@request),
                  :method => 'delete',
                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn btn-danger' %>
  <% end %>


</div>
