<div class="col-xs-6">

<div class="container well">
    <div class="row">
      <div class="col-md-5">
        <%= simple_form_for Offer.new, :html => { :multipart => true } do |f| %>

            <div class="control-group">
              <%= f.label :category, :class => 'control-label' %>
              <div class="controls">
                <%= f.select(:category, options_for_select([['Other'], ['Carpooling'], ['Delivery', 3], ['Labor', 4], ['Social', 5], ['Event', 6], ['Tutoring', 7], ['Studying', 8]]), {}, {class: "form-control", :style => "width:200px;"}) %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :title, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :title, :class => 'input-large text_field', :style => "width:510px;" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, :class => 'control-label' %>
              <div class="span6">
                <%= f.text_area :description, :style => "width:510px; height: 300px  " %>
              </div>
            </div>

          <div class="controls">
            <%= f.submit nil, :class => 'btn' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        offers_path, :class => 'btn' %>          </div>
        <% end %>
      </div>
    </div>
  </div>
    </div>

