<div class="col-xs-6">

  <div class="container well    ">
    <div class="row">

      <div class="col-md-5">
        <%= simple_form_for @offer, :html => {:multipart => true} do |f| %>

            <div class="control-group">
              <%= f.label :category, :class => 'control-label' %>
              <div class="controls">
                <%= f.select(:category, options_for_select(
                        [['General', 1], ['Carpooling', 2], ['Delivery', "Delivery"],
                         ['Labor'], ['Social'], ['Event'], ['Tutoring'],
                         ['Studying']]), {:category => :category},
                             {class: "form-control", :style => "width:191px;"}) %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label "I need help with...", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :title, :class => 'input-large text_field', :style => "width:510px;" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, :class => 'control-label' %>
              <div class="span6">
                <%= f.text_area :description, :style => "width:510px; height: 300px  " %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label "In return, I will... (optional)", :class => 'control-label' %>
              <div class="span6">
                <%= f.text_area :give, :style => "width:510px; height: 100  " %>
              </div>
            </div>


            <div class="form-inline">
              <div class="form-group">
                <%= f.label "City", :class => 'control-label' %>
                <br>
                <%= f.text_field :city, :class => 'text_field', :style => "width:191px;" %>
              </div>
              <div class="form-group">
                <%= f.label "State", :class => 'control-label' %>
                <br>
                <%= f.text_field :state, :class => 'text_field', :style => "width:191px;" %>
              </div>

            </div>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox" for="checkbox1">
                  <span class="icons">
                    <span class="first-icon fui-checkbox-unchecked"></span>
                    <span class="second-icon fui-checkbox-checked"></span></span>
                  <%= f.check_box :category %>
                  Use my own address?
                </label>
              </div>
            </div>


            <div class="controls">
              <%= f.submit nil, :class => 'btn btn-small mhm btn-info' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                          offers_path, :class => 'btn btn-small mhm btn-warning' %>
            </div>


        <% end %>
      </div>


    </div>

  </div>

</div>

